<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Permanent+Market">
    <title>Eat 'Da Burger - Burgers to 'Da 'vour!</title>
    <link rel="stylesheet"
          href="../../public/assets/css/burger_style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../models/burger.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12" align="center">
          <img src="../../public/assets/img/eatdaburger.png" alt="Eat 'Da Burger" width="530" style="margin-bottom: 40px"/>
        </div>

        {{{body}}}

      </div>
    </div>

    <footer class="page-footer" style="padding: 40px">
      <div class="container">
        <div class="col s6" style="float: left">
        <span class="white-text">Eat 'Da Burger Full-Stack App is developed<br />by Summit Media Design, LLC</span>
        </div>
          <div class="col s6" style="float: right">
            <a class="grey-text text-lighten-4 right" href="https://github.com/summitmedia1">To See More Development Work...</a>
          </div>
              <p style="text-align: center">&copy 2017. All Rights Reserved.</p>
      </div>
    </footer>

  </body>
</html>
