<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Permanent+Market">
    <title>Eat 'Da Burger - Burgers to 'Da 'vour!</title>
    <link rel="stylesheet"
          href="../../public/assets/css/burger_style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../models/burger.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12" align="center">
          <img src="../../public/assets/img/eatdaburger.png" alt="Eat da Burger" width="600"/>
        </div>

        {{{body}}}

      </div>
    </div>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
            <span class="white-text">Eat 'Da Burger Full-Stack App is developed by Summit Media Design, LLC</span>
            <a class="grey-text text-lighten-4 right" href="https://github.com/summitmedia1">To See More Development Work...</a>
            <p class="white-text">2017 Copyright. All Rights Reserved.</p>
        </div>
      </div>
    </footer>

  </body>
</html>
